<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descargando Archivos</title>
</head>
<body style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    <h1 style="text-align: center; ">La descarga empezará en breves</h1>
    <p>Si la descarga no ha empezado, favor da click <a href = {{objeto.archivoRAR.url}} download="">aquí</a></p>
</body>
</html>