<!DOCTYPE html>
<html lang="es">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Generador de Certificados</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
</head>
<body>
  <div class="post">
    <h1 style="text-align: center">Generador de Archivos</h1>
  </div>
  <div>
    <form action="/certificados/" method="post" enctype="multipart/form-data" style="margin: 30px">
      <!-- Django help -->
      {% csrf_token %}
      <!-- Django help -->
      <div class="mb-3">
        <label for="formFile" class="form-label">Imagen (.jpg) </label>
        <input class="form-control" type="file" id="formFile" name="imgPC" accept=".png, .jpg, .jpeg" />
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">Documento de Datos (.csv)</label>
        <input class="form-control" type="file" id="formFileCv" name="infoCertificado" accept=".csv" disabled />
        <br />
        <div class="mb-3">
          <label for="formFileSm" class="form-label">Tipo de letra (opcional, por defecto: Arial)</label>
          <input class="form-control form-control-sm" id="formFileSm" type="file" name="typeTXT"
            accept=".ttf, .otf, .eot, .woff" disabled />
        </div>
        <br />
        <!--DATOS  -->
        <div>
          <label class="form-label">Ingrese coordenadas donde va estar el Cuadro de Texto (Te puedes
            ayudar con Paint)</label>
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <label for="formFile" class="form-label">Coordenada en x: &nbsp;</label><input type="number" id="X"
                  name="coordenadaX" value="100" disabled />
              </div>
              <div class="col-sm">
                <label for="formFile" class="form-label">Coordenada en y: &nbsp;</label><input type="number" id="Y"
                  name="coordenadaY" value="100" disabled />
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm">
                <label for="formFile" class="form-label">Color del Texto: &nbsp;</label><input type="color" id="COLOR"
                  name="colorTXT" disabled />
              </div>
              <div class="col-sm">
                <label for="formFile" class="form-label">Tamaño del Texto en px: &nbsp;</label><input type="number"
                  id="TAMANIO" name="tamanioTXT" value="20" disabled />
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-sm">
                <label for="formFile" class="form-label">Ingrese el link de la cancion de Spotify: &nbsp;</label><input
                  type="url" id="lnkCancion" name="cancion" disabled />
              </div>
            </div> -->
          </div>
          <!--  -->
          <br />
        </div>
        <div class="Editor">
          <hr style="border: 2px solid #000000" />
          <label style="margin: 0px 0px 20px 20px">Previsualización (La calidad de la imagen no cambia al
            descargarse)</label>
          <canvas id="micanvas" style="border: 2px solid #000000; display: block; margin: auto" width="1024px"
            height="727px" name="mycanvas">
            Contenido que sólo verán los usuarios que no soportan canvas en su
            navegador.
          </canvas>
        </div>
      <div style="margin:20px">
        <input type="submit" value="Generar Certificados" style="display:block; margin:auto" id="enviar" disabled>
      </div>
      <script>
          function cargaContextoCanvas(idCanvas) {
            var elemento = document.getElementById(idCanvas);
            if (elemento && elemento.getContext) {
              var contexto = elemento.getContext('2d');
              if (contexto) {
                return contexto;
              }
            }
            return false;
          }
          function updateCanvas(archivo, ctx, view) {
            var img = new Image();
            const archivos = archivo.files;
            const primerArchivo = archivos[0];
            // Lo convertimos a un objeto de tipo objectURL
            const objectURL = URL.createObjectURL(primerArchivo);
            img.src = objectURL;
            img.onload=function(){
              ctx.drawImage(img,0,0);
              // if($urlspotify.value.indexOf("open.spotify/"!=-1)){
              //   drawQr(ctx,img)
              // }
              drawText(ctx)
            }
          }


          function drawQr(ctx,img){
            var img2 = new Image()
            img2.crossOrigin="anonymous"
            img2.src = qrSpotify($urlspotify.value)
            img2.onload=function(){
              let qrw=img2.width/3.5
              let qrh=img2.height/3.5
              let posqrw=(img.width/2)-(qrw/2)
              let posqrh=img.height-60
              ctx.drawImage(img2,posqrw,posqrh,qrw,qrh)
            }
          }

          function drawText(ctx){
            if($seleccionarFuente.files.length!=0)
                ctx.font=$tam.value+"px MyCanvasFont"
              else
                ctx.font=$tam.value+"px Arial"
              ctx.fillStyle=$color.value
              ctx.fillText("Melanie Almachi",$X.value, $Y.value)
          }
          

          function urispotify(link){
              let ini = link.indexOf("spotify")
              let end = link.indexOf("?")
              link=link.slice(ini,end)
              link=link.replace(".com","")
              link=link.replaceAll("/",":")
              return link
          }

          function qrSpotify(link){
            let uri=urispotify(link)
            let url="https://scannables.scdn.co/uri/plain/png/ffffff/black/640/"+uri
            return url
          }

          const $seleccionArchivos = document.querySelector("#formFile");
          const $seleccionarFuente= document.querySelector("#formFileSm")
          var ctx = cargaContextoCanvas('micanvas')

          const $X = document.getElementById("X")
          const $Y = document.getElementById("Y")
          const $tam=document.getElementById("TAMANIO")
          const $color=document.getElementById("COLOR")
          //const $urlspotify=document.getElementById("lnkCancion")
          const $btn = document.querySelector("#enviar")
          const $datos = document.getElementById("formFileCv")
          // Escuchar cuando cambie
          $datos.addEventListener("change",() => {
            $btn.disabled=false;
          });

          $X.addEventListener("change", () => {
            updateCanvas($seleccionArchivos, ctx)
          });

          $Y.addEventListener("change", () => {
            updateCanvas($seleccionArchivos, ctx)
          });

          $tam.addEventListener("change",()=>{
            updateCanvas($seleccionArchivos,ctx)
          });

          $color.addEventListener("change",()=>{
            updateCanvas($seleccionArchivos,ctx)
          });

          // $urlspotify.addEventListener("change",()=>{
          //   updateCanvas($seleccionArchivos,ctx)
          // });

          $seleccionarFuente.addEventListener("change", () => {
            //Se agrega la fuente desde el cache usando FontFace
            let f = new FontFace("MyCanvasFont", "url("+URL.createObjectURL($seleccionarFuente.files[0])+")");
            f.load();
            document.fonts.add(f);
            updateCanvas($seleccionArchivos,ctx)         
          });

          $seleccionArchivos.addEventListener("change", () => {
            document.getElementById("formFileCv").disabled=false;
            $X.disabled=false;
            $Y.disabled=false;
            $tam.disabled=false;
            $color.disabled=false;
            $seleccionarFuente.disabled=false;
            //$urlspotify.disabled=false;
            var img = new Image();
            // Los archivos seleccionados, pueden ser muchos o uno
            const archivos = $seleccionArchivos.files;
            // Si no hay archivos salimos de la función y quitamos la imagen
            if (!archivos || !archivos.length) {
              img.src = "";
              return;
            }
            // Ahora tomamos el primer archivo, el cual vamos a previsualizar
            const primerArchivo = archivos[0];
            // Lo convertimos a un objeto de tipo objectURL
            const objectURL = URL.createObjectURL(primerArchivo);
            // Y a la fuente de la imagen le ponemos el objectURL
            img.src = objectURL;
            img.onload = function () {
              var canvas = document.getElementById("micanvas")
              h = img.height;
              w = img.width;
              canvas.setAttribute("height", h.toString() + "px");
              canvas.setAttribute("width", w.toString() + "px");
              ctx.drawImage(img, 0, 0, w, h);
            }
          });
        </script>
    </form>
  </div>
</body>

</html>